.border {
    border: 0.25px solid grey;
    transition: all 0.7s;
    flex: 1;
}
 
.pad {
    padding: 0px;
}

.row {
   display: flex;
   padding: 0%;
   border: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 800px;
}

.fill {
    background-color: black;
    transition:all 0.7s;
}

